<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>N21</name>

    <description>
        juego cumple
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        GDPafk
    </author>

	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="ldpi" />
	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="mdpi" />
	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="hdpi" />
	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="xhdpi" />
	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="xxhdpi" />
	<icon src="https://40.media.tumblr.com/c79a3c4d8e19a22301c15e8fe4ca0b54/tumblr_nyhm0iOTHb1r95e8ao1_250.png" platform="android" qualifier="fr-xxhdpi" />
	
	<preference name="permissions" value="none" />
</widget>
